.topNav {
    display: flex;
    flex: auto;
    background-color: #22a5ff;
    color: white;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-radius: 2px;
}

.brand {
    display: flex;
    width: 100%;
    font-size: larger;
    border: 1px solid white;
    padding: 10px 20px;
}

.navItem {
    border: 1px solid white;
    padding: 10px 20px;
}

.navItemContainer {
    display: flex;
}

.marginSmall {
    margin: 0 2px;
}