@page "/"

<PageTitle>Dashboard</PageTitle>

<nav class="topNav">
    <div class="brand">@accountName</div>
    <div class="navItemContainer">
        <div class="navItem">Nummerweergave</div>
        <div class="navItem">Wachtmuziek</div>
        <div class="navItem">Gespreksopname</div>
        <div class="navItem">Openingstijden</div>
    </div>
</nav>

<OverviewStat counter=@numberOfUsers headerName="Aantal gebruikers">
    <childComponents>
        @for (int i = 0; i < numberOfUsers; i++)
        {
            <span class='oi oi-person marginSmall' aria-hidden='true'></span>
        }
    </childComponents>
</OverviewStat>

<OverviewStat counter=@numberOfDevices headerName="Aantal toestellen" />

<OverviewStat counter=@numberOfConferences headerName="Aantal conferenties" />



@code {
    private string accountName = "Cobbler kantoor";
    private int numberOfUsers = 25;
    private int numberOfDevices = 42;
    private int numberOfConferences = 0;
}
