.header {
    display: flex;
    background-color: #f6f6f6;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 2px;
}

.mainStatHeader {
    display: flex;
    font-size: larger;
    background-color: #f6f6f6;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 2px;
}

.header-counter {
    color: #22a5ff;
}

.mainStat {
    width: 20rem;
}

.overviewStat {
    width: 20rem;
}

.childComponents {
    padding-top: 1rem;
    padding-bottom: 2rem;
}