<div class="overviewStat @(isMainStat ? "mainStat" : "")">
    <header class="header @(isMainStat ? "mainStatHeader" : "")">
        @headerName <span class="header-counter">@(int.TryParse(counter, out int headerCounter) ? headerCounter :
            "-")</span>
    </header>
    @if (childComponents is not null)
    {
        <div class="childComponents">
            @childComponents
        </div>
    }
</div>

@code {
    [Parameter] public string? counter { get; set; }

    [Parameter] public string? headerName { get; set; }

    [Parameter] public RenderFragment? childComponents { get; set; }

    [Parameter] public bool isMainStat { get; set; }
}